<form name="simpleContactForm" method="POST" data-netlify="true" id="simple-contact-form" class="contact-form">
  <p>
    <label>Your Name: <input type="text" class="form-input" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" class="form-input" name="email" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message" class="form-textarea" rows="7"></textarea></label>
  </p>
  <p>
    <button type="submit" class="button">Send Message</button>
  </p>
</form>
